/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

.logo {
    display: block;
    width: 100px;
    height: 82px;
    background: url(carbon.png);
    background-size: 100px 82px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 120px;
}

.form {
    background-color: #DCDCDC;
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 100px;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
    height: 80%;
    border: 15px solid #13D4D7;
    text-align: center;
}

.Title {
    font-family: 'Ubuntu Mono', monospace;
    color: #185F6F;
}

.header {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    padding-right: auto;
    padding-left: auto;
    /* give it dimensions */
    min-height: 10em;
    font-family: 'Ubuntu Mono', monospace;
    color: #185F6F;
}

.form-rounded {
    border-radius: 1rem;
}

.login {
    background-color: #DCDCDC;
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin: 0 auto;
    /* give it dimensions */
    min-height: 10em;
    width: 25%;
    height: 200px;
    border: 15px solid #13D4D7;
    text-align: center;
}
